# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
.venv/
venv/

# IDE
.idea/

# Test screenshots
tmp_testshots/
tmp_testshots2/
tmp_testshots3/
tmp_testshots4/
tmp_testshots5/

# OS
.DS_Store
Thumbs.db